.page {
  background-color: black;
  margin: 0;
  padding: 0;
}

.page__content {
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
}

.profile__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 200px 0 200px;
}

@media screen and (max-width: 680px) {
  .page__content {
    max-width: 680px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
  }
}
